body {
  text-align: center;
  background: url("images/18.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
  margin: auto;
}

h1 {
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 3rem;
  /* font-weight: bold; */
  margin-bottom: 0;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; */
  /* text-shadow: 3px 3px black; */
  /* letter-spacing: -1rem; */

}

h2 {
  color: black;
  font-family: 'Fredericka the Great', serif;
  font-size: 1.1rem;
  margin-top: .5%;
  /* font-weight: bold; */
  /* text-shadow: 3px 3px black; */


}

h3 {
  color: white;
  font-family: 'Merriweather Sans', cursive;
  font-size: 1.15rem;

  /* text-shadow: 3px 3px black; */



}

h4 {
  font-family: 'Playfair display', sans-serif;
  font-size: 1.8rem;
  /* text-shadow: 2px 2px black; */
  color:black;

}

h5 {

  font-family: 'Montserrat',sans-serif;
  font-size: 1.8rem;
  /* font-weight: bold; */


  /* text-shadow: 3px 3px black; */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  opacity: 1;
  color:black;

}

h6 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.075px;
  margin-bottom: 0;


}

hr {
  border-color: black;
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
}



p {
  color:black;
  /* margin-left: 2%;
  margin-right: 2%; */
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.1rem;
}



.above {
  margin-top: -40px;
}

.v1 {
  border-left: 5px dotted rgba(255,255,0);

  height:20px;
  margin-left: 50%;
  margin-top: .1%;
  margin-bottom: .07%;
}

.h2 {
  background-image: -webkit-linear-gradient(left, transparent 0%, #fcc200 15%, #ff0000 85%, transparent 100%);
  background-image: linear-gradient(left, transparent 0%, #fcc200 15%, #ff0000 85%, transparent 100%);
  height: 5px;
  width:75%;
margin:auto;

}

.v2 {
  border-left: 6px dotted rgba(255,255,0);

  height:80px;
  margin-left: 50%;
  margin-top: -.25%;
  margin-bottom: .5%;
  z-index: 9999;
}

.v3 {
  border-left: 6px dotted rgba(255,255,0);
  height:30px;
  margin-left: 50%;
  margin-top: .5%;
  margin-bottom: .25%;
}

#navbar_top {
    z-index: 9999;
}





.container-fluid1 {
  background: url("images/18.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: linear-gradient(to right,  transparent 0%, white 15%, grey 55%, black 75%, grey 85%, white 100%); */

  text-align: center;
  /* background-color: rgba(26,17,16); */
  box-shadow: rgb(12 , 12, 12) 0px 5px 15px -2px;

    z-index: 9999;
}

.container-fluid {
  margin-top: 0px;
  /* text-align: center;
  background: url("../images/book1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* background-color: rgba(221,160,221,.5); */
  /* box-shadow: rgb(12 , 12, 12) 0px 5px 15px -2px; */

    z-index: 9999;
    padding-bottom: 100px;
}



.overlap{
  margin-top: -5px;

}



.navbar-fixedtop {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-brand{
  font-family: 'Gentium Book Basic', serif;
  font-size: 1rem;
  font-weight: bold;
  color: red;

}


.nav-link {
  color: black !important;
  font-family: 'Merriweather Sans', cursive;
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .12rem;
  margin-right: 20px;
}

.nav-link:hover {
  color:rgb(255,255,0) !important;
  opacity:.75;
}

.crest {
  margin-left: 70%;
  margin-top: -1px;
  margin-bottom: 0px;
}

.crest:hover {
  margin-left: 70%;
  margin-top: 85%;
  transform: scale(3);

}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
}



.gea {

  color: rgba(255,255,255);
  font-size: 1.3rem;
  text-align:left;
  margin-left: 3.5%;
  margin-top: 2.2%;
  /* letter-spacing: -.01em; */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:black; */
  /* text-shadow: 2px 2px 2px black; */
  /* text-shadow: -.6px .6px 1px white,
          .6px .6px 1px white,
          .6px -.6px 0 white,
          -.6px -.6px 0 white; */
}

.title {
/* font-family: 'UnifrakturCook', sans-serif; */
  color: rgba(50,18,122);
  letter-spacing: -0.03em;
  font-size: 3.2rem;
  /* font-variant: small-caps; */
  text-align: left;
  margin-left: 3%;
  margin-top: -.9%;
  /* text-shadow: 2px 3px 2px black; */
  /* text-shadow: -.6px .6px .6px #000,
          .6px .6px .6px #000,
          .6px -.6px 0 #000,
          -.6px -.6px 0 #000; */
  /* -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: white; */


}

.lions {
  margin-top: -9%;
  margin-left: -2%;

}


.intro-text {

  color: rgba(255,0,0);
  font-size: 1.8rem;

  /* letter-spacing: -0.01em; */
  /* font-style: italic; */
  text-align:right;
  padding-top: 12px;
  /* margin-top: 30.2%; */
  margin-right: 1%;
  /* text-shadow: 1px 1px 1px white; */
  /* text-shadow: -.6px .6px .5px #000,
          .6px .6px .5px #000,
          .6px -.6px 0 #000,
          -.6px -.6px 0 #000; */
  /* -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black; */
}


.doab {
  float:right;
  margin-top: 23.1%;
  margin-right: 5%;
}

.doab-title{
  float: right;
  margin-right: 6.3%;
  margin-top: 28.5%;
  margin-bottom: 0;

}


.doab-link:hover, .doab-link:focus, .push-button:hover {
  text-decoration: none;
  color:inherit;

}

.background-info {

  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  /* border-radius: 5px; */
    /* box-shadow: rgb(10 , 12, 12) 12px 17px 15px -5px; */
  /* margin-left: 7%;
  margin-right: 7%; */
  /* background-color: white; */
  padding-left: 2%;
  padding-right: 2%;

  /* background-color: white; */
  /* background: url("../images/book1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: rgba(0,0,0,.9);

  margin-top: 31.7%;

  /* margin-bottom: 4%; */



}

.background-info p{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .05em;
  margin-bottom: 0;
    /* padding-top: 1%; */
    padding-bottom: 2%;

}



.block {

  display: flex;
  flex-wrap: wrap;


}

.two {
  padding-left: 12%;
  padding-right: 12%;


}

/* .three{
  margin-left: 18%;
  margin-right: 18%;
} */

.doag-card{
  width: 96%;
  /* border-style: solid;
  border-radius: 10px;
  border-width: thin; */


  /* background-color: rgba(210,180,140,.3); */
  text-align: left;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 15px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.doa-card{
  width: 96%;
  /* border-style: solid;
  border-radius: 10px;
  border-width: thin; */


  /* background-color: rgba(135,206,250,.3); */
  text-align: left;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 15px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.doab-card{
  width: 96%;


  /* background-color: rgba(135,206,250,.3); */
  text-align: center;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 15px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.peacetime-card {
  width: 96%;

  background-color: rgba(107,142,35,.3);
  text-align: center;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.ww1-card{
  width: 96%;

  /* background-color: rgba(210,180,140,.3); */
  text-align: center;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.interims1-card{
  width: 96%;
  background-color: rgba(107,142,35,.3);
  text-align: center;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.interims2-card{
  width: 96%;
  background-color: rgba(107,142,35,.3);
  text-align: center;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.bush-card{
  width: 96%;
  background-color: rgba(107,142,35,.3);
  text-align: center;
  margin: auto;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
}

.flag {
  margin: 5px 12px;
  float:left;

}

.map {
  float:left;
  margin: 5px 15px;
}

.map:hover {
  margin-left: 7%;
  transform: scale(3);
}

.learn {

    float:right;
    margin-top: -35px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;


    /* letter-spacing: .15rem; */

}

.learn-more{
  font-size: .9rem;
  /* font-weight: bold; */

  color:#696969;

  /* border-style: solid;
  border-radius: 5px;
  border-width: thin;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left:0px;

  border-color: white;
  box-shadow: rgb(12 , 12, 12) 5px 8px 10px -3px; */
}

.learn-more p {
  color: white;
}

.go {
  padding-bottom: 10px;
}

.peacetime-page{
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: white; */
  border-color: white;
  box-shadow: rgb(12 , 12, 12) 5px 8px 10px -3px;
}



.up {
float:center;
margin-top: 2%;
padding-bottom: 10px;
}

.wiki {
  margin-left: -15px;
}



.learn-more:hover, .wiki:hover, .peacetime-page:hover, .fa-info:hover, .interims1-page:hover, .interims2-page:hover, .bush-page:hover {
  color:white;
  opacity:.5;

}

.learn-more:active, .wiki:active, .peacetime-page:active, .fa-info:active, .interims1-page:active, .interims2-page:active, .bush-page:active{
  opacity:.1;
}



.hdng {
text-align: left;
padding-left: 4%;
padding-top: 40px;
padding-bottom: 30px;
font-size: 3rem;
/* text-shadow: 6px 6px 8px black; */
color: rgba(252,194,0);
margin-top: 0px;

text-shadow: 3px 3px 5px black;
-webkit-text-stroke-width: .75px;
-webkit-text-stroke-color: black;

}



.bank {

  background-color: rgba(0,0,0,85);
  margin-top: -50px;
  padding-top: 55px;
  padding-bottom: 20px;

}
.doa {
  margin-top: -13px;

}

.doa:hover {
  opacity:.4;
}

.peacetime-issues:hover, .interims-issues:hover, .bush-issues:hover {
  opacity:.4;
}

.pre-war{
  /* margin-left: 2%;
  margin-right: 2%; */

  background-color: rgba(178,0,0,.2);
  margin-top: 0%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.issues-1915{
  /* margin-left: 2%;
  margin-right: 2%; */
  background-color: rgba(107,142,35,.3);
  margin-top: 0%;
  padding-top: 35px;
  padding-bottom: 30px;

}

.issues-1916{
  /* margin-left: 2%;
  margin-right: 2%; */
  padding-bottom: 30px;
  padding-top: 40px;
  margin-bottom: -40px;
  background-color: rgba(218,165,32,.3);
}

.issues-1917{
  /* margin-left: 2%;
  margin-right: 2%; */
  background-color: rgba(065,105,225,.3);
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 2px;
}

.issues-1917 p{
  margin-bottom: 0px;
}

.peacetime-issues {
  margin-bottom: 0;
}



.ww1 {
font-size: 4rem;
color: rgba(255,40,0);
letter-spacing: -.02em;
text-shadow: 6px 6px 8px black;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: black;
margin-bottom: -10px;
margin-top: -10px;
}

.surrender {
  padding-top: 40px;
}

#middle{
  /* background: url("images/doab.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  margin: auto;

  background-color: white; */
  margin-top: 15px;

  /* background-color: rgba(0,255,0,.30); */
  /* margin-left: 5%;
  margin-right: 5%; */
  /* padding-bottom: 50px; */



}


/* Scatter Gallery */


	.amp {
		font-family:Garamond,Baskerville,Georgia,serif !important;
		font-style:italic;
		font-weight:normal;
		border: none;
	}

	a.polaroid {
		display: block;
		text-decoration: none;
		color: #333;
		padding: 8px 8px 8px 8px;
		width: 150px;
		border: 1px solid #BFBFBF;
		background-color: white;
		z-index: 2;
		font-size: 0.7em;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}
	a.polaroid:hover,
	a.polaroid:focus,
	a.polaroid:active {
		z-index: 999;
		border-color: #6A6A6A;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.polaroid img {
		margin: 0 0 0px;
		width: 130px;
		height: 85px;
	}

	a img {
		border: none;
		display: block;
	}

	.photo-album {
		position: relative;
		width: 80%;
		margin: 0 auto;
		max-width: 70em;
		height: 350px;
		margin-top: 5em;
		min-width: 800px;
		max-width: 900px;
	}
	.photo-album .polaroid {
		position: absolute;
	}
	.photo-album h1 {
		position: absolute;
		z-index: 5;
		top: 150px;
		text-align: center;
		width: 100%;
		line-height: 1.9;
	}
	.photo-album h1 span {
		background-color: white;
		font-family: "Playfair Display",serif;
    color:#9932cc;
    font-size: 1.7rem;
		padding: 0.1em 0.3em 0.2em 0.4em;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		border: 1px solid #6A6A6A;
	}
	.photo-album .small {
		width: 155px;
		padding: 6px 6px 6px 6px;
		font-size: 0.6em;
	}
	.photo-album .small img {
		width: 140px;
		height: 100px;
	}
	.photo-album .medium {
		width: 250px;
		padding: 10px 10px 10px 10px;
		font-size: 0.8em;
	}
	.photo-album .medium img {
		width: 228px;
		height: 150px;
	}
	.photo-album .large {
		width: 390px;
		padding: 15px 15px 15px 15px;
		font-size: 1em;
	}
	.photo-album .large img {
		width: 360px;
		height: 225px;
	}
	.photo-album .img1 {
		bottom: 20px;
		right: 300px;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	.photo-album .img2 {
		top: 150px;
		right: 0px;
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	.photo-album .img3 {
		left: 400px;
		top: 0;
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	.photo-album .img4 {
		top: 10px;
		left: 495px;
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	.photo-album .img5 {
		bottom: 5px;
	  right: 30px;
		-webkit-transform: rotate(8deg);
		-moz-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	.photo-album .img6 {
		bottom: 10px;
		right: 156px;
		-webkit-transform: rotate(6deg);
		-moz-transform: rotate(6deg);
		transform: rotate(6deg);
	}
	.photo-album .img7 {
		bottom:0;
		left:400px;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	.photo-album .img8 {
		bottom: -20px;
		left: 700px;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	.photo-album .img9 {
		bottom: 0;
		left: 0;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	.photo-album .img10 {
		top: 0;
		left: 20px;
		-webkit-transform: rotate(8deg);
		-moz-transform: rotate(8deg);
		transform: rotate(8deg);
	}
	.photo-album .img11 {
		top: 0;
		right: 0;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}
	.photo-album .img12 {
		top: 0;
		left: 680px;
		-webkit-transform: rotate(18deg);
		-moz-transform: rotate(18deg);
		transform: rotate(18deg);
	}
	.photo-album .img13 {
		bottom: -20px;
		right: 630px;
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	.photo-album .img14 {
		top: 90px;
		left: 70px;
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	.photo-album .img15 {
		left:176px;
		top:20px;
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		transform: rotate(-8deg);
	}

	a:hover,
	a:focus {
		z-index: 5;
	}

/* End of Scatter Gallery Section */




















.post-wrap {
  min-width: 270px;
  max-width: 270px;
  height: 200px;
  perspective: 1000px;
  flex: 1;
  margin: 0 43px 43px;


}

.line1 {
  border-width: 30px;
  background-color: rgba(0,255,0,.40);
  margin-top: -59px;
}



.post {
    position: relative; /* Required to absolutely position the faces */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.post-front, .post-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border-radius: 10px; */
    /* box-shadow: rgb(12 , 12, 12) 12px 17px 15px -5px; */
    box-shadow: -0px 0px 15px #000,
  				  0px 0px 15px #000,
  				  0px -0px 0 #000,
  				  -0px -0px 0 #000;
}

.post-back {
    transform: rotateY(180deg);
}

.post-wrap:hover .post {
    transform: rotateY(180deg);
}

.post-img {
    background-size: cover;
    background-position: center;
    height: 175px;
    /* border-radius: 10px; */
    /* border-style: solid;
    border-width: thin;
    border-color: black; */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start;
}

.post-front {
    background-size: cover;
    background-position: center;
    height: 175px;
    /* border-radius: 10px; */
    /* border-style: solid;
    border-width: thin;
    border-color: black; */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start;
}


.post-back {
  background-size: cover;
  background-position: center;
  height: 175px;
  /* border-radius: 10px; */
  /* border-style: solid;
  border-width: thin;
  border-color: black; */
  cursor: pointer;
    /* background: url("../images/peaceback.jpg");
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-style: solid;
    border-width: thin; */
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start;

}

.post-back a{
    text-decoration: none;
    padding: 5px 5px;
    font-size: 0.60em;
}

.mid-section{
  background: url("../images/book1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

}



.sub-heading {
  font-size: 1.8rem;
color: rgba(0,0,0);

/* text-shadow: 2px 3px 3px black; */
/* -webkit-text-stroke-width: .9px;
-webkit-text-stroke-color: black; */
  /* text-decoration: underline; */
  /* text-shadow: 1px 3px 3px black; */
  /* text-shadow: -.6px .6px 1px #000,
				  .6px .6px 1px #000,
				  .6px -.6px 0 #000,
				  -.6px -.6px 0 #000; */
  text-align: left;
  margin-left: 3%;
  /* margin-top: 5px; */
  margin-bottom: 60px;
}

.holder {
    max-width: 1310px;
    margin: auto;
    /* margin-top: -35 */

    /* border-style: solid; */
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
}

.holder p{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 65px;
}


.post-back:active {
opacity: .30;
  /* transform: translateY(4px); */
}

.first-table {
  margin:auto;
  margin-top: -25px;
}

.mid-column {
  padding-top: 100px;
}

.date1905{
  /* background: -webkit-linear-gradient(#000, #1e90ff); */
  background: -webkit-linear-gradient(left, #000 5%, #1e90ff 80%);
  background: linear-gradient(left, #000 5%, #1e90ff 80%);

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }



.date1914 {
  font-size: 2.4rem;
color:red;
}

.date1915, .date1917 {

color:#9932cc;
-webkit-text-stroke: .3px #9932cc;

}

.date1918 {
  font-size: 1.7rem;
  color:white;
  /* -webkit-text-stroke: 1px #F8F8F8; */
	/* text-shadow: 0px 3px 4px black; */
  text-shadow: -.7px .7px 1px #000,
				  .7px .7px 1px #000,
				  .7px -.7px 0 #000,
				  -.7px -.7px 0 #000;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */


}

.date1912, .issues1{
  color:#1e90ff;
}

.issues2{
  color:#9932cc;
}



.worldwar {
  color:red;

}

.peace {
  color:white;
  /* -webkit-text-stroke: 1px #F8F8F8; */
  /* text-shadow: 0px 3px 4px black; */
  text-shadow: -.7px .7px 1px #000,
          .7px .7px 1px #000,
          .7px -.7px 0 #000,
          -.7px -.7px 0 #000;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}


.date-more{
  color:black;
  font-size: 1.5rem;

  /* -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: black; */
}

.post-wrap h1{
  margin-top: 15px;
}

.mid-text {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;


}


.issues {

  border-radius: 5%;
  border-style: solid;
  border-width: thin;
  box-shadow: rgb(12 , 12, 12) 8px 12px 13px -4px;


}

.issues:active {

  opacity: .35;


}

.more {
  color:blue;
  opacity: .97;
  text-align: right;
  padding-right: 2%;
  margin-top: 0px;;
  /* text-shadow: 3px 3px black; */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}



/* .text-box {
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  padding-top: 8%;



} */

.get-in-touch {

  text-decoration: none;
  color: blue;
  opacity: .90;
  text-align: left;
  padding-left: 6.5%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  letter-spacing: -.04em;
  margin-top: -12px;


}

.label {
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  padding-top: 4%;
}



/* .wrapping {
  padding-right: 15%;
  padding-left: 15%;

  max-width: 1400px;
  background-color: black;

} */









.bill {
  color: powderblue;
}

.bill:hover {
  color: black;

}

.left-heading{
  font-size: 2.5rem;
  color: white;
  text-align: left;
  padding-left: 2%;
  margin-top: -5px;
}


.pricing-column {
margin: auto;
}

a {
  color:black;
}

/* a:hover{
  color:white;
} */



/* .carousel {
background-color: purple;
text-align: center;
} */



/* .prewar{
  width: 100%;


}

.interims{
  width: 83%;

}

.bush{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 34px;
} */


.carousel-item {
  /* padding: 2% 15% 2%; */
  /* background-color: black; */
  -webkit-box-align: center;
  align-items: center;
  /* width: 100%; */
}


.image-kaiser{
  width:40%;

}

.image-interims{
  margin-top:3.5%;
  margin-bottom:1%;
  width:60%;
  border-radius: 10px;

}

.image-bush{
  margin-top:6.5%;
  margin-bottom:3%;
  width:70%;
  border-radius: 10px;

}

.testimonial-text{
  padding-top: 25px;
  text-align: center;
  font-size: 2rem;

}


.other-stuff{
  /* background: url("../images/background copy 5.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
background-color: rgba(107,142,35,.93);
margin-top: 40px;
margin-left: 7%;
margin-right: 7%;
/* margin: auto; */
/* margin-left: 5%;
margin-right: 5%; */
/* margin-left: 2%;
margin-right: 2%; */
/* margin-top: 40px; */
color: springgreen;
padding-top: 10px;;
padding-bottom: 3%;




}

.art-more {

color: rgba(255,255,255);

/* text-shadow: 2px 3px 5px black; */
/* -webkit-text-stroke-width:.8px;
-webkit-text-stroke-color: black; */
  /* text-decoration: underline; */
  /* text-shadow: 1px 3px 3px black; */
  /* text-shadow: -.6px .6px 1px #000,
          .6px .6px 1px #000,
          .6px -.6px 0 #000,
          -.6px -.6px 0 #000; */
  text-align: right;
  margin-right: 3%;
  margin-bottom: 50px;

}


.video{

  padding: 3% 0 5%;
  text-align: center;

  color:black;

}



.video-link {
  color: honeydew;


}

.video-link:hover {
  color: black;
  text-decoration:none;
}

.contact {
  background: url("../images/book1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -57px;
  /* margin-left: 3%;
  margin-right: 3%; */
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;

}

.about-us {

  color: black;
  opacity: .90;
  text-align: right;
  padding-right: 6.5%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  letter-spacing: -.04em;
  margin-top: -20px;

}

.the-team {
    /* margin-left: 3%;
    margin-right: 3%; */
    background-color: rgba(255,215,0,.75);
    margin-top: -56px;
    margin-bottom: 30px;
}



#footer {

background-color: white;
  text-align: right;
  padding-right: 8%;
  padding-top: 10px;
  padding-bottom: 0.5px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: black;
  margin-bottom: 0;
  font-style: italic;

}




/* Horizontal Timeline */
/* --------------------------------

Primary style

-------------------------------- */


/* --------------------------------

Main Components

-------------------------------- */
#horizontal-timeline {
  /* background: url("../images/book1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* border-radius: 5px;
    box-shadow: rgb(12 , 12, 12) 10px 15px 12px -4px; */
  background-color: white;
  /* padding-top: 50px; */
  /* margin-top: 20px; */
  padding-top: 5px;
  padding-bottom: 10px;
  /* padding-left: 2%;
  padding-right: 2%; */
  /* margin-left: 7%;
  margin-right: 7%; */
  /* margin-top: 40px; */


}

ol li{
  list-style-type: none;
}

ul li{
  list-style-type: none;
}

.cd-horizontal-timeline {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 80px;
  width: 95%;
  max-width: 740px;
  margin: 10px auto;

}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;

}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  /* content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px; */
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #a9a9a9;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #dc143c;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #a9a9a9;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #dc143c;
  border-color: #dc143c;
}
.cd-horizontal-timeline .events a.selected {
  color:blue;
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #dc143c;
  border-color: #dc143c;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #dc143c;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 60%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid black;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 72%;
  top: 52%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/arrow.png) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {

  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dc143c;
}

.cd-horizontal-timeline {
  position: relative;
  width: 100%;
  margin: 0.5em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;

}

.events-content {
  position: relative;
  height: 300px;
  overflow: auto;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
  margin-top: 40px;
}


.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {

  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1rem;
  color: red;
  margin-bottom: 20px;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 1.7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}













@media (max-width: 1300px) {

  #title {
    text-align: center;

  }
   td, tr {
		display: block;

}
